.posts {
  @include lg-min{
    padding-top: $gap / 2 * 10;
    padding-bottom: $gap / 2 * 10;
  }
  @include lg-md{
    padding-top: $gap * 4;
    padding-bottom: $gap * 4;
  }
  @include md{
    padding-top: $gap * 3;
    padding-bottom: $gap * 3;
  }
}

.posts__container {
  max-width: $ul;
  margin: auto;
  padding-right: $gap;
  padding-left: $gap;
}

.posts__grid-container {
  display: grid;

  padding-bottom: $gap;

  gap: $gap;
  @include lg-min {
    grid-template-areas: "p1 p1 p2 p3" "p4 p5 p6 p6";
    grid-template-columns: repeat(4, 1fr);
  }
  @include lg-md {
    grid-template-areas: "p1 p1 p2" "p3 p4 p4" "p5 p5 p6";
    grid-template-columns: repeat(3, 1fr);
  }
  @include md-sm{
    grid-template-areas: "p1 p2" "p3 p4" "p5 p6";
    grid-template-columns: repeat(2, 1fr);
  }
  @include sm{
    grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
    grid-template-columns: 1fr;
  }

}

.posts__container h2 {
  @include lg-min{
    margin-bottom: $gap * 2.5 + 6px;
    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: $gap * 2 + 2px;
    font-size: 2rem;
  }
  @include md-sm {
    margin-bottom: $gap * 1.5 + 6px;
    font-size: 1.5rem;
  }
  @include sm {
    margin-bottom: $gap * 1.5 + 6px;
    text-align: center;
    font-size: 1.5rem;
  }

  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: "Roboto Slab", sans-serif;
}

.posts-item:hover .posts-item__image img{
  transform: scale(1.2);
}

.posts-item:hover .posts-item__info{
  background-color: rgba($color-gray, 0.35);
}

.posts-item:hover .posts-item__info p,
.posts-item:hover .posts-item__info h4{
  color: $color-primary;
}

.posts-item__link {
  display: grid;

  height: 100%;

  grid-template-rows: 310px 1fr;
}

.posts-item__image {
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.posts-item__info {
  display: grid;
  align-content: center;

  padding: $gap;

  background-color: $color-gray-light;

  transition: background-color 0.5s;
}

.posts-item__info h4,
.posts-item__info p {
  text-align: center;

  color: $color-gray;

  transition: color 0.5s;
}

.posts-item__info h4 {
  letter-spacing: 0.05em;

  font-family: "Roboto Slab", sans-serif;
  font-size: 1.125rem;
}

.posts-item__info p {
  letter-spacing: 0;

  font-size: 1rem;
}


@for $i from 1 through 6 {
  .posts-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
.posts-item__image img {
  width: 100%;

  object-fit: cover;

  transition: transform 0.5s;
}

.posts__actions {
  display: flex;
  justify-content: center;
}

.posts-item__button {
  @include md-min{
    min-width: 350px;
  }
  @include md{
    min-width: 100%;
  }
  height: $gap * 3;
  padding: $gap;

  transition: background-color 0.5s;
  text-align: center;

  color: $color-light;
  border: 2px solid $color-primary;
  background-color: $color-gray-dark;

  font-size: 1.125rem;
}

.posts-item__button:hover {
  background-color: $color-accent;
}
