.footer{
  padding: $gap * 2 $gap $gap * 3.5;
  background-color: $color-primary;
  text-align: center;
}
.footer__container{
  max-width: $ul;
  padding-left: $gap;
  padding-right: $gap;
  margin: auto;
}
.footer__social-icons{
  display: grid;
  position: relative;
  justify-content: center;
  margin-bottom: $gap * 1.5;
  grid-template-columns: repeat(auto-fit, minmax($gap, max-content));
}
.footer__social-icons .fab{
  font-size: $gap * 1.5 + 6;

  transition: color 0.5s;
}

.footer__social-icons a{
  padding: $gap / 2;
}

.footer__social-icons a:hover .fab{
  color: $color-accent;
}
.footer__social-icons::after {
  left: calc(50% - 75px / 2);
  position: absolute;
  content: "";
  width: $gap * 3.5 + 5;
  height: 2px;
  bottom: -$gap;
  background-color: rgba($color-light, 0.2);
}
.footer__logo span:first-child{
  margin-right: -0.5em;
  letter-spacing: 0.3em;
  font-weight: 100;
}
.footer__logo span:last-child{
  letter-spacing: 0.05em;
  color: $color-light;
  font-weight: 700;
}