.skills {
  @include sm-min {
    margin-bottom: $gap / 2 * 3;
    padding: $gap / 2;
  }
  @include sm {
    padding: $gap;
  }
}

.skills__container {
  display: grid;

  margin-bottom: $gap;

  @include lg-min {
    gap: $gap / 2;
    grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  }
  @include lg-md {
    gap: $gap / 2;
    grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
  }
  @include md-sm {
    gap: $gap / 2;
    grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
  }
  @include sm {
    gap: $gap;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
  }
}

.skill__actions {
  display: flex;
  justify-content: center;
}
