.header-content {
  position: relative;

  &__container {
    @extend %container;
  }

  &__actions {
    display: flex;
    justify-content: center;

    @include sm {
      align-items: center;
      flex-direction: column;
    }

    .btn:first-of-type {
      @include sm-min {
        margin-right: $gap;
      }
      @include sm {
        margin-bottom: $gap;
      }
    }
  }

  &__title {
    margin: 0 0 53px 0;
  }
}
